In [3]:
import pandas as pd
#read data from filename 'filename.csv'

In [ ]:
url='https://www.airbnb.com/rooms/12351'

In [ ]:
tables = pd.read_html(url)
tables

In [ ]:
type(tables)

In [16]:
import pandas as pd
#read data from filename 'filename.csv'
data=pd.read_csv('jantojun2020.csv')
data.head()

C:\Users\bates\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (36) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,MKT_UNIQUE_CARRIER,MKT_CARRIER_FL_NUM,TAIL_NUM,ORIGIN,...,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE,DISTANCE_GROUP,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
0,2020,1,1,1,3,1/1/2020,WN,5888,N951WN,ONT,...,95.0,122.0,74.0,363,2,8.0,0.0,27.0,0.0,33.0
1,2020,1,1,1,3,1/1/2020,WN,6276,N467WN,ONT,...,90.0,92.0,71.0,363,2,NaN,NaN,NaN,NaN,NaN
2,2020,1,1,1,3,1/1/2020,WN,4598,N7885A,ONT,...,70.0,68.0,57.0,333,2,NaN,NaN,NaN,NaN,NaN
3,2020,1,1,1,3,1/1/2020,WN,4761,N551WN,ONT,...,75.0,75.0,63.0,333,2,NaN,NaN,NaN,NaN,NaN
4,2020,1,1,1,3,1/1/2020,WN,5162,N968WN,ONT,...,80.0,67.0,57.0,333,2,NaN,NaN,NaN,NaN,NaN

In [17]:
list(data)

['YEAR',
 'QUARTER',
 'MONTH',
 'DAY_OF_MONTH',
 'DAY_OF_WEEK',
 'FL_DATE',
 'MKT_UNIQUE_CARRIER',
 'MKT_CARRIER_FL_NUM',
 'TAIL_NUM',
 'ORIGIN',
 'ORIGIN_CITY_NAME',
 'ORIGIN_STATE_ABR',
 'ORIGIN_STATE_NM',
 'DEST',
 'DEST_CITY_NAME',
 'DEST_STATE_ABR',
 'DEST_STATE_NM',
 'CRS_DEP_TIME',
 'DEP_TIME',
 'DEP_DELAY',
 'DEP_DELAY_NEW',
 'DEP_DEL15',
 'DEP_DELAY_GROUP',
 'DEP_TIME_BLK',
 'TAXI_OUT',
 'WHEELS_OFF',
 'WHEELS_ON',
 'TAXI_IN',
 'CRS_ARR_TIME',
 'ARR_TIME',
 'ARR_DELAY',
 'ARR_DELAY_NEW',
 'ARR_DEL15',
 'ARR_DELAY_GROUP',
 'ARR_TIME_BLK',
 'CANCELLED',
 'CANCELLATION_CODE',
 'CRS_ELAPSED_TIME',
 'ACTUAL_ELAPSED_TIME',
 'AIR_TIME',
 'DISTANCE',
 'DISTANCE_GROUP',
 'CARRIER_DELAY',
 'WEATHER_DELAY',
 'NAS_DELAY',
 'SECURITY_DELAY',
 'LATE_AIRCRAFT_DELAY']

In [18]:
data.drop(columns=[   
 'QUARTER',
 'DAY_OF_MONTH',
 'DAY_OF_WEEK',
 'FL_DATE',
 'MKT_CARRIER_FL_NUM',
 'TAIL_NUM',
 'ORIGIN',
 'ORIGIN_STATE_NM',
 'ORIGIN_STATE_ABR',
 'DEST',
 'DEST_CITY_NAME',
 'DEST_STATE_ABR',
 'DEST_STATE_NM',
 'CRS_DEP_TIME',
 'DEP_DEL15',
 'DEP_DELAY_GROUP',
 'DEP_TIME_BLK',
 'TAXI_OUT',
 'WHEELS_OFF',
 'WHEELS_ON',
 'TAXI_IN',
 'CRS_ARR_TIME',
 'ARR_TIME',
 'ARR_DELAY',
 'ARR_DELAY_NEW',
 'ARR_DEL15',
 'ARR_DELAY_GROUP',
 'ARR_TIME_BLK',
 'CANCELLATION_CODE',
 'CRS_ELAPSED_TIME',
 'ACTUAL_ELAPSED_TIME',
 'AIR_TIME',
 'DISTANCE',
 'DISTANCE_GROUP',
 'CARRIER_DELAY',
 'WEATHER_DELAY',
 'NAS_DELAY',
 'SECURITY_DELAY',
 'LATE_AIRCRAFT_DELAY'],inplace=True)

In [21]:
data.describe()

,YEAR,MONTH,DEP_TIME,DEP_DELAY,DEP_DELAY_NEW,CANCELLED
count,2745847.0,2.745847e+06,2.463910e+06,2.463855e+06,2.463855e+06,2.745847e+06
mean,2020.0,2.811948e+00,1.325076e+03,3.469542e+00,8.093630e+00,1.030378e-01
std,0.0,1.527229e+00,4.859642e+02,3.927404e+01,3.806698e+01,3.040083e-01
min,2020.0,1.000000e+00,1.000000e+00,-8.000000e+01,0.000000e+00,0.000000e+00
25%,2020.0,2.000000e+00,9.210000e+02,-7.000000e+00,0.000000e+00,0.000000e+00
50%,2020.0,3.000000e+00,1.322000e+03,-4.000000e+00,0.000000e+00,0.000000e+00
75%,2020.0,4.000000e+00,1.730000e+03,0.000000e+00,0.000000e+00,0.000000e+00
max,2020.0,6.000000e+00,2.400000e+03,2.814000e+03,2.814000e+03,1.000000e+00

In [23]:
data2=data.head(200)

In [24]:
data2

,YEAR,MONTH,MKT_UNIQUE_CARRIER,ORIGIN_CITY_NAME,DEP_TIME,DEP_DELAY,DEP_DELAY_NEW,CANCELLED
0,2020,1,WN,"Ontario, CA",1851.0,41.0,41.0,0
1,2020,1,WN,"Ontario, CA",1146.0,-4.0,0.0,0
2,2020,1,WN,"Ontario, CA",2016.0,-4.0,0.0,0
3,2020,1,WN,"Ontario, CA",1350.0,10.0,10.0,0
4,2020,1,WN,"Ontario, CA",916.0,1.0,1.0,0
...,...,...,...,...,...,...,...,...
195,2020,1,WN,"Phoenix, AZ",2253.0,-2.0,0.0,0
196,2020,1,WN,"Phoenix, AZ",1611.0,-4.0,0.0,0
197,2020,1,WN,"Phoenix, AZ",1440.0,0.0,0.0,0
198,2020,1,WN,"Phoenix, AZ",2038.0,8.0,8.0,0
199,2020,1,WN,"Phoenix, AZ",645.0,-5.0,0.0,0

In [25]:
data2.to_csv('covidflight_delays3.csv')

In [7]:
csv_file = "covidflight_delays3.csv"
airportdf = pd.read_csv(csv_file)
airportdf.head()

,Unnamed: 0,YEAR,MONTH,MKT_UNIQUE_CARRIER,ORIGIN_CITY_NAME,DEP_TIME,DEP_DELAY,DEP_DELAY_NEW,CANCELLED
0,0,2020,1,WN,"Ontario, CA",1851.0,41.0,41.0,0
1,1,2020,1,WN,"Ontario, CA",1146.0,-4.0,0.0,0
2,2,2020,1,WN,"Ontario, CA",2016.0,-4.0,0.0,0
3,3,2020,1,WN,"Ontario, CA",1350.0,10.0,10.0,0
4,4,2020,1,WN,"Ontario, CA",916.0,1.0,1.0,0

In [5]:
from sqlalchemy import create_engine
from config import user, password

In [8]:
rds_connection_string = f"{user}:{password}@localhost:5432/etl_project"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [9]:
airportdf.to_sql(name='flight_delays', con=engine, if_exists='append', index=False)